[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
start = "python3 src/index.py"
test = "pytest src/"
coverage = "coverage run --branch -m pytest src/"
coverage-report = "coverage html"
lint = "pylint src"

[packages]
pytest = "*"
coverage = "*"
pygame = "*"
pylint = "*"

[dev-packages]
